<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/345d42b9-5ca1-4189-a6d8-a8c32fe22d98/resourcegroups/BlazorExample/providers/Microsoft.Web/sites/BlazorAPI20230112152353</ResourceId>
    <ResourceGroup>BlazorExample</ResourceGroup>
    <ApiResourceId>/subscriptions/345d42b9-5ca1-4189-a6d8-a8c32fe22d98/resourceGroups/BlazorExample/providers/Microsoft.ApiManagement/service/BlazorAPIExample/apis/BlazorAPITest</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blazorapi20230112152353.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ee42f09a-2c40-4969-a325-0533322e6764</ProjectGuid>
    <MSDeployServiceURL>blazorapi20230112152353.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlazorAPI20230112152353</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BlazorAPI20230112152353</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>